@model IEnumerable<Library.Models.Patron>

@{
    ViewData["Title"] = "Library | Patrons";
}

<div class="container">
    <div class="page-box">
        <h2 class="fancy-shadow page-header">Patrons</h2>
        @Html.ActionLink("Add Patron", "Create", "Patrons", null, new { @class="btn btn-lg btn-info" })
        <div class="grid-container">
            @foreach(var patron in Model)
            {
                <div class="grid-item">@Html.DisplayFor(modelItem => patron.FirstName) @Html.DisplayFor(modelItem => patron.LastName)</div>
                <div class="grid-item">@Html.ActionLink("Details", "Details", new { id = patron.PatronId })</div>
                <div class="grid-item">@Html.ActionLink("Edit", "Edit", new { id = patron.PatronId })</div>
                <div class="grid-item">
                    @using (Html.BeginForm("delete", "patrons", new { id = patron.PatronId }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="no-btn-styles"/>
                    }
                </div>
            }
        </div>
    </div>
</div>